{% extends 'things/base.html' %}
<!-- переопределение блока title -->
{% block title %}{{ object.device_id }}{% endblock %}
{% block block_header %}
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'things:index' %}">Go Back</a>
    <h2 class="h2">{% if object.device_name %}
        {{ object.device_name }}
    {% else %}
        {{ form.device_name.value }}
    {% endif %}</h2>
{% endblock %}

{% block block_content %}

{#    {{ row }}#}

    {% for val in row %}
       <p> {{ val.label }} {{ val.value }}</p>
    {% endfor %}
{#    <form method="post">#}
{#        <div class="form-group">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <input type="submit" class="btn btn-secondary" value="Save">#}
{#        </div>#}
{#    </form>#}
{% endblock %}