{% extends 'things/base.html' %}
<!-- переопределение блока title -->
{% block title %}{{ object.device_name }} id:{{ object.device_id }}{% endblock %}
{% block block_header %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'things:index' %}">
                <button type="button" class="btn btn-sm btn-outline-secondary">Go Back</button>
            </a>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="editForm()">Edit</button>
    </div>
    <h2 class="h2">{{ object.device_name }} ID:{{ object.device_id }}</h2>
    <a class="btn btn-sm btn-outline-danger" href="./delete">Delete</a>

{% endblock %}

{% block block_content %}
    <form method="post">
        <fieldset id="form" disabled>
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-secondary" value="Save">
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block custom_script %}
    <script>
        function editForm() {
            const element = document.getElementById("form");
            element.disabled ? element.disabled = false : element.disabled = true
        }
    </script>
{% endblock %}